@charset "utf-8";
/* v1.0.2 */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	word-wrap: break-word
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
button, input, select, textarea {
	outline: 0;
	-webkit-box-sizing: border-box
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
li, ol, ul {
	list-style: none
}
a {
	color: #333;
	text-decoration: none
}
a.active {
	color: #06c
}
p{ margin:1rem 0;}
img {
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
	-webkit-touch-callout: none
}
.clearfix:after, .clearfix:before {
	display: table;
	content: " "
}
.clearfix:after {
	clear: both
}
.fl{ float: left !important;}
.fr{ float: right !important;}
.tr{ text-align:right;}
.tc{ text-align:center;}
.affix {
  position: fixed;
}

html {
	font-size: 62.5%
}

@media only screen and (min-width:481px) {
html {
	font-size: 94%!important
}
}




body {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  color: #3d4145;
  background: #eeeeee;
  overflow: hidden;
  min-width: 320px;
  max-width: 640px;
  margin:0 auto;
}

/*栅格*/
.row {
  overflow: hidden;
  margin-left: -4%;
}
.row > [class*="col-"] {
  box-sizing: border-box;
  float: left;
}
.col-12 {width: 96%; margin-left:4%;}
.col-11 {width: 87.66666667%; margin-left:4%;}
.col-10 {width: 79.33333333%;   margin-left:4%;}
.col-9 {width: 71%;   margin-left:4%;}
.col-8 {width: 62.66666667%;   margin-left:4%;}
.col-7 {width: 54.33333333%;   margin-left:4%;}
.col-6 {width: 46%;   margin-left:4%;}
.col-5 {width: 37.66666667%;   margin-left:4%;}
.col-4 {width: 29.33333333%;   margin-left:4%;}
.col-3 {width: 21%;   margin-left:4%;}
.col-2 {width: 12.66666667%;    margin-left:4%;}
.col-1 {width: 4.33333333%;   margin-left:4%;}

.row.no-gutter {
  margin-left: 0;
}
.row.no-gutter .col-12{ width:100%; margin-left:0;}
.row.no-gutter .col-11 {width: 91.66666667%; margin-left:0;}
.row.no-gutter .col-10 {width: 83.33333333%; margin-left:0;}
.row.no-gutter .col-9 {width: 75%; margin-left:0;}
.row.no-gutter .col-8 {width: 66.66666667%; margin-left:0;}
.row.no-gutter .col-7 {width: 58.33333333%; margin-left:0;}
.row.no-gutter .col-6 {width: 50%; margin-left:0;}
.row.no-gutter .col-5 {width: 41.66666667%; margin-left:0;}
.row.no-gutter .col-4 {width: 33.33333333%; margin-left:0;}
.row.no-gutter .col-3 {width: 25%; margin-left:0;}
.row.no-gutter .col-2 {width: 16.66666667%; margin-left:0;}
.row.no-gutter .col-1 {width: 8.33333333%; margin-left:0;}
